$dark: #000;
$light: #f5f4f5;

* {
    font-family: 'neue-haas-grotesk-text', sans-serif;
    margin: 0;
    padding: 0;
    color: $dark;
    box-sizing: border-box;
    line-height: 1;
}
html {
    font-size: 14px;
    scroll-behavior: smooth;
    background: $light;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.italic, em {
    font-family: big-caslon-fb, serif;
    font-weight: 400;
    font-style: italic;
}
h1 {
    font-size: 8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 2rem;
}
input:not([type=checkbox]):not([type=range]) {
    all: unset;
    font-size: 1rem;
    padding: 4px 6px;
    box-sizing: border-box;
    border: 1px solid rgba($dark, 0.3);
    transition-duration: .3s;
    background: $light;
    &:focus {
        border: 1px solid $dark;
    }
    &:required {
        background: rgba(red, 0.075);
    }
    &:valid {
        background: $light;
    }
}
select {
    font-size: 1rem;
    padding: 4px 6px;
    box-sizing: border-box;
    border: 1px solid rgba($dark, 0.3);
    background: $light;
    &:required {
        background: rgba(red, 0.075);
    }
    &:valid {
        background: $light;
    }
}
textarea {
    padding: 4px 6px;
    border: 1px solid rgba($dark, 0.3);
    line-height: 1.5;
    resize: none;
    font-size: 1rem;
    background: $light;
}
button {
    all: unset;
    background: $dark;
    color: $light;
    padding: 12px 24px;
    box-sizing: border-box;
    transition-duration: .3s;
    &:hover {
        opacity: .6;
        cursor: pointer;
    }
}