$dark: #000000;
$light: #ffffff;

* {
    font-family: neue-haas-grotesk-text, sans-serif;
    margin: 0;
    padding: 0;
    color: $dark;
    box-sizing: border-box;
    line-height: 1;
}
html {
    font-size: 14px;
    scroll-behavior: smooth;
    background: $light;
}
a {
    text-decoration: none;
}
.italic, em {
    font-family: big-caslon-fb, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;
}
h1 {
    font-size: 8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 2rem;
}
input:not([type=checkbox]) {
    all: unset;
    font-size: 1rem;
    padding: 4px 8px;
    box-sizing: border-box;
    border: 1px solid rgba($dark, 0.2);
    transition-duration: .3s;
    &:focus {
        border: 1px solid $dark;
    }
}
button {
    all: unset;
    background: $dark;
    color: white;
    padding: 12px 24px;
    box-sizing: border-box;
    transition-duration: .3s;
    &:hover {
        opacity: .6;
        cursor: pointer;
    }
}