<section>
    <h1>About</h1>
    <h3 class="left">
        This platform was created to connect photographers and aspiring models within the RIT student community. Photography students often face difficulties finding suitable models for their assignments and projects, while many students aspire to become models but lack the connections to do so.
    </h3>
    <h3 class="right">
        Through this website, any student with an rit.edu email can create a profile as a model, providing an opportunity to be seen and allowing photographers to use the site as a resource for discovering new faces.
    </h3>
    <!-- <h2>About the creator</h2> -->
    <div class="row">
        <img src="../../../assets/images/headshot.jpg" alt="">
        <div class="text">
            <p>
                <b>Jacob Yoon, BS Computer Science '25</b><br><br>
                With passions in fashion, photography, and design, I co-founded RIT Fabrick, a fashion club that brings together students from different majors and backgrounds to share their passion for fashion. Since then, the club has allowed me to meet countless people with diverse backgrounds and participate in everything from photoshoots to fashion shows.<br><br>
                Through my experiences with RIT Fabrick, I saw a need for a platform like <i>Models @ RIT</i>. By combining my skills in software development and design, I was able to bring my vision into a reality.
            </p>
            <div class="links">
                <a href="mailto:jy9726@rit.edu" target="_blank">Email</a>
                <a href="https://instagram.com/jaacobyoon" target="_blank">Instagram</a>
                <a href="https://instagram.com/ritfabrick" target="_blank">RIT Fabrick</a>
            </div>
        </div>
    </div>
</section>