
<header>
    <a href="/" id="title" class="italic"><img src="../assets/images/logo-transparent-700.png" alt="">Models @ RIT</a>
    <ul>
        <a href="/models">Models</a>
        <a href="/about">About</a>
        <a href="/login" *ngIf="!(authService.isLoggedIn$ | async)">Login</a>
        <a href="/profile" class="profile" *ngIf="(authService.isLoggedIn$ | async)">Your profile</a>
        <a href="/register" class="sign-up" *ngIf="!(authService.isLoggedIn$ | async)">Become a model</a>
    </ul>
</header>
<div id="cursor"><div class="inner"></div></div>
<router-outlet></router-outlet>
<footer></footer>