
<header>
    <a routerLink="/" id="title" class="italic"><img src="../assets/images/logo-transparent-700.png" alt="">Models @ RIT</a>
    <ul>
        <a routerLink="/models">Models</a>
        <a routerLink="/about">About</a>
        <a routerLink="/login" *ngIf="!(authService.isLoggedIn$ | async)">Login</a>
        <a routerLink="/profile" class="profile" *ngIf="(authService.isLoggedIn$ | async)">Your profile</a>
        <a routerLink="/register" class="sign-up" *ngIf="!(authService.isLoggedIn$ | async)">Become a model</a>
    </ul>
</header>
<div id="cursor"><div class="inner"></div></div>
<router-outlet></router-outlet>
<footer></footer>