@import '../styles';

header {
    z-index: 10;
    position: fixed;
    top: 0; left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background: rgba($light, 0.6);
    backdrop-filter: blur(10px);
    #title {
        font-size: 2rem;
        font-style: normal;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            height: 3rem;
            margin-right: 10px;
            pointer-events: none;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        div {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        a {
            padding: 3px;
            &:not(.sign-up) {
                border-bottom: 2px solid rgba($dark, 0);
                transition-duration: .4s;
                &:hover {
                    border-bottom: 2px solid $dark;
                }
            }
        }
        .sign-up {
            padding: 12px 20px;
            background: none;
            color: $dark;
            border: 2px solid $dark;
            transition-duration: .4s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 0.8;
            &::before, &::after {
                padding: 12px 20px;
                content: "Become a model";
                position: absolute;
                color: rgba($dark, 0);
                border: 2px solid rgba($dark, 1);
                transition-duration: .4s;
                z-index: -1;
            }
            &:hover {
                // background: $dark;
                // color: $bg;
                // border: 2px solid rgba($dark, 0);
                &::before {
                    transform: translate(4px, -4px);
                }
                &::after {
                    transform: translate(-4px, 4px);
                }
            }
        }
    }
}
#cursor {
    top: -200px;
    position: fixed;
    height: 60px;
    width: 60px;
    transform: translate(-30px, -30px);
    border-radius: 100%;
    z-index: 100;
    pointer-events: none;
    transition: height 0.4s, width 0.4s, transform 0.4s, background-color 0.4s, border 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba($dark, 0);
    .inner {
        transition-duration: .4s;
        position: absolute;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        background-color: rgba($dark, 0.15);
        backdrop-filter: blur(4px);
        border: 2px solid rgba($dark, 0.4);
    }
    &.hover {
        height: 100px;
        width: 100px;
        transform: translate(-50px, -50px);
        background-color: rgba($dark, 0);
        border: 3px solid rgba($dark, 0.3);
        .inner {
            height: 8px;
            width: 8px;
            background: rgba($dark, 1);
            border: 2px solid rgba($dark, 0);
        }
    }
}