:root {
    --carousel: 1000px;
}
        
#hero {
    height: 100vh;
    width: 100%;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    // background: url('../../../assets/images/gradient1.jpg');
    background-size: cover;
    // background-position: center;
    .carousel {
        position: absolute;
        top: 100px;
        left: 40px;
        width: calc(100% - 80px);
        overflow-x: hidden;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;
            animation: carousel 10s infinite;
            a {
                height: 200px;
                aspect-ratio: 0.75;
                background: #eee;
            }
        }
        @keyframes carousel {
            0% {
                transform: translateX(0%);
            }
            50% {
                transform: translateX(var(--carousel));
            }
            100% {
                transform: translateX(0%);
            }
        }
    }
    h1 {
        font-size: 6vw;
        text-indent: -6vw;
        padding-left: 6vw;
        font-weight: normal;
    }
    p {
        font-size: 1.5rem;
        max-width: 400px;
        padding-top: 40px;
    }
}
section {
    height: 100vh;
}