@import '../../../styles';

section {
    padding: 200px 40px;
}
h1 {
    font-size: 6rem;
    font-family: big-caslon-fb, serif;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba($dark, 0.3);
    font-weight: normal;
}
.row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    .image {
        height: 80vh;
        aspect-ratio: 0.75;
        background: rgba($dark, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        mix-blend-mode: multiply;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
        .track {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 20px;
            flex-wrap: wrap;
            .thumbnail {
                width: 120px;
                aspect-ratio: 0.75;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                mix-blend-mode: multiply;
                transition-duration: .3s;
                &:hover {
                    cursor: pointer;
                    opacity: .5;
                }
            }
        }
        .info {
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
        }
        .inner {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 6px;
            .category {
                font-weight: bold;
            }
        }
        .links {
            display: flex;
            flex-direction: row;
            gap: 10px;
            flex-wrap: wrap;
            a {
                background: $dark;
                color: $light;
                padding: 12px 24px;
                transition-duration: .3s;
                &:hover {
                    opacity: .6;
                }
            }
        }
        .back {
            background: none;
            color: $dark;
            border: 1px solid rgba($dark, 1);
        }
    }
}